.users {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    a {
      font-weight: bold;
      margin-right: 10px;
    }
    img {
      border-radius: 50%;
    }
  }