@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary-color: lightcoral;
$secondary-color: black;
$tertiary-color: #F5F5F5;

* {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.empty-form, .login-failed {
    margin-left: 15px;
    color: firebrick;
}

h1 {
    margin-left: 200px;
    font-size: 30px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $tertiary-color;
}

.container {
    max-width: 750px;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
}

.form-container {
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {

    align-items: center;
    justify-content: center;
}

label {
    color: $secondary-color;
    font-size: 1.2rem;
    margin-right: 1rem;
}

input[type="text"],
input[type="password"] {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;

    &:focus {
        box-shadow: 0 0 10px $primary-color;
    }
}

input[type="submit"] {
    background-color: $primary-color;
    color: $tertiary-color;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

a {
    color: $primary-color;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 1rem;

    &:hover {
        text-decoration: underline;
    }
}