<div class="container">
  <div class="notification">
    <div class="notification-header">
      <h2>You have {{notifications}} notifications</h2>
      
    </div>
    <div class="notification-body" *ngFor="let notif of notificationList">
      <a *ngIf="notif.post == true ; else userLink" [routerLink]="['/view-post/', notif.postId]">{{notif.text}}</a>
      <ng-template #userLink>
        <a [routerLink]="['/user', notif.senderId]">{{notif.text}}</a>
      </ng-template>
      <hr>
    </div>
  </div>
</div>
  

