<div class="container">
  <div class="notification">
    <div class="notification-header">
      <h2>You have {{notifications}} notifications</h2>    
    </div>
    <div class="notification-body" *ngFor="let notif of notificationList">
      <div class="notificationText">
        <img class="firstPhoto" [src]="notif.url">
        <a class="postText" *ngIf="notif.post == true ; else userLink" [routerLink]="['/view-post/', notif.postId]">{{notif.text}} <img class="secondPhoto" [src]="notif.postUrl"> </a>
        <ng-template #userLink>
          <a [routerLink]="['/user/', notifUsername]">{{notif.text}}</a>
        </ng-template>
      </div>
      <hr />
    </div>
  </div>
</div>
  

