.post-info {
    padding-left: 100px;
}


.notifications {
    padding-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
    a {
        color: black;
        text-decoration: none;
    }
}