<div class="container">
  <div class="description">
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>Image</th>
      <th>Description</th>
      
    </tr>
    <tr >

        <td>{{username }}</td>
        <td>{{users[0].fullName }}</td>
        <td>{{users[0].imageUrl }}</td>
        <td>{{users[0].description}}</td>
     
      </tr>
     
  </div>
  <div class="bio">
    <span> Posts: {{postLength}}</span>
      <mat-icon routerLink="/create-post">control_point</mat-icon>
      <mat-icon (click)="logout()">input</mat-icon>
  </div>
  <hr />
  <app-post-tile [posts]="posts"></app-post-tile>
  </div>
 
