<div class="container">
  <div class="bio">
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>Image</th>
      <th>Description</th>
    </tr>
    <tr >

        <td>{{username }}</td>
        <td>{{users[0].fullName }}</td>
        <td>{{users[0].imageUrl }}</td>
        <td>{{users[0].description}}</td>
     
      </tr>
  </div>
  <div class="bio">
      <br />Posts: <b>{{postLength}}</b> 
  </div>
  <hr />
  <app-post-tile [posts]="posts"></app-post-tile>
  </div>
  <button  routerLink="/edit">
    Edit profile
</button>
