<div class="container">
  <div class="description">
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th>Image</th>
      <th>Description</th>
      <th><button (click)="goToFollowersList()">Followers</button>
        <button (click)="goToFollowingList()">Following</button>
    </tr>
    <tr >

        <td>{{username }}</td>
        <td>{{user?.fullName }}</td>
        <td>{{user?.imageUrl }}</td>
        <td>{{user?.description}}</td>
        <td>{{followers}}</td>
        <td>{{following}}</td>
     
      </tr>
     
  </div>
  <div class="bio">
    <span> Posts: {{postLength}}</span>
      <mat-icon routerLink="/create-post">control_point</mat-icon>
      <mat-icon (click)="logout()">input</mat-icon>
      <mat-icon (click)="editValues()">settings</mat-icon>
  </div>
  <hr />
  <app-post-tile [posts]="posts"></app-post-tile>
  </div>
 
