<div class="row post" *ngFor="let post of posts">
    <div class="col-md-11">
      <span class="post-info">
        <button class="post-title" (click)="goToPost(post.id)">{{post.title}}</button>
        <span> . Seller:  <a class="username" routerLink="/user/{{post.username}}">{{post.username}}</a></span>
      </span>
      <hr />
      <div class="post-title">
        <a class="postname">{{post.imageUrl}}</a>
      </div>
      <div>
        <p class="post-text" [innerHtml]="post.description"></p>
      </div>
      <div class="btns" >
        <mat-icon (click)="goToPost(post.id)">comments</mat-icon><span class="aligned-with-icon">{{post.commentCount}}</span>
        <app-like-button [post]="post"></app-like-button>
      </div>
    </div>
  </div>