.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
    margin: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.username{
    color: lightcoral;
}

.commments{
    background: white;
    border: none;
    padding: 0;

}

.btns{
    cursor: pointer;
    display: flex;
    column-gap: 10px;
}

.post-title{
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    color: lightcoral;
}

.posturl, .postname{    
    color: lightcoral;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
}
