<form [formGroup]="editForm" (ngSubmit)="saveUser()">
  <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username" required>
  </div>
  <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" id="fullName" formControlName="fullName" required>
  </div>
  <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="1" cols="30" (input)="onTextAreaInput(textarea)" #textarea style="resize: none;" class="form-control" id="description" formControlName="description"></textarea>
  </div>
  <form [formGroup]="fileForm">
    <input class="input-element" type="file" formControlName="file" (change)="onFileChange($event)"  accept="image/*" >
    <button type="submit" class="btn btn-primary" (click)="uploadFile()">Upload</button>
  </form>
  <button type="submit" class="btn btn-primary">Save</button>
</form>