<form [formGroup]="searchForm">
  <input matInput placeholder="Search" formControlName="searchControl">
</form>

<button mat-raised-button color="primary" (click)="searchInitiated = true; searchPosts()">Search Posts</button>
<button mat-raised-button color="primary" (click)="searchInitiated = true; searchUser()">Search Users</button>

  
<div class="home-body">
  <div class="container">
    <div class="row">
      <hr />
      <div >
        <div *ngIf="searchResults.length > 0 && searchInitiated; else noResults">
          <div *ngIf="searchType === 'posts'">
            <app-post-tile [posts]="searchResults"></app-post-tile>
          </div>
          <div *ngIf="searchType === 'users'">
            <div *ngFor = "let user of searchResults">
              <a class="username" [routerLink]="user.username === username? ['/my-profile'] : ['/user', user.username]">{{user.username}}</a>
            </div>
          </div>
        </div>
        <ng-template #noResults>
          <p *ngIf="searchInitiated">No results found</p>
        </ng-template>
      <app-post-tile [posts]="posts"></app-post-tile>
      </div>
    </div>
  </div>
</div>

