<body>
  <div class="container">
    <h1>Recover Password</h1>
    <div class="form-group">
      <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
        <div class="credentials">
          <input  type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" placeholder="Email Address">
          <span class="empty-form" *ngIf="emailForm.get('email')?.touched">Please enter a valid email!</span>
          <br>
          <input type="submit" value="Send">
        </div>
      </form>
    </div>
  </div>
</body>
