<div class="container">
    <div class="bio">
      <tr>
        <th>Username</th>
        <th>Full name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Followers</th>
        <th>Following</th>
        
      </tr>
      <tr >
  
          <td>{{name }}</td>
          <td>{{user.fullName }}</td>
          <img width="30px" height="30px" [src]="imageUrl">
          <td>{{user.description}}</td>
          <td>{{followers}}</td>
          <td>{{following}}</td>
          <td>{{isFollowed}}</td>
          <td>{{activeUserFollowing[0].profileId}}, {{user.profileId}}</td>
      
       
        </tr>
    </div>

    

    <div class="bio">
      <br />Posts: <b>{{postLength}}</b> 
      <button (click)="follow()" *ngIf="!isFollowed">FOLLOW</button>
      <button (click)="unfollow()" *ngIf="isFollowed">UNFOLLOW</button>
    </div>
    <hr />
    <app-post-tile [posts]="posts"></app-post-tile>
    </div>

