<div class="container">
  <div class="profile-container">
    <div class="profile-header">
      <img class="profile-image" [src]="imageUrl">
      <h2 class="username">{{name}}</h2>
      <div class="profile-actions">
        <button class="follow-btn" (click)="follow()" *ngIf="!isFollowed">Follow</button>
        <button class="follow-btn" (click)="unfollow()" *ngIf="isFollowed">Unfollow</button>
        <button class="message-btn" (click) = "checkIfUsersHaveChat()">Message</button>
      </div>
    </div>
    <div class="profile-info">
      <div class="profile-stats">
        <p class="posts-btn"><b>{{postLength}}</b> Posts</p>

        <p (click)="goToFollowersList()" class="followers-btn"><b>{{followers}}</b> Followers</p>
        <p (click)="goToFollowingList()" class="following-btn"><b>{{following}}</b> Following</p>              

      </div>
      <h3 class="full-name">{{user.fullName}}</h3>
      <h4 class="description">{{user.description}}</h4>
    </div>
  </div>
  <hr>
  <app-post-tile [posts]="posts"></app-post-tile>
</div>
