  <div class="container">
      <div class="row">
        <hr />
        <div class="col-md-9">
          <div class="row post">
            <div class="col-md-11">
              <img width="30px" height="30px" [src]="sellerImage" alt="">
              <span>
                <span> Seller:              
                  <a class="username" routerLink="/user/{{post.username}}">{{post.username}}</a>
                </span>
              </span>
              <hr />
              <img width="300px" height="150px" [src]="productImage" alt="">
              <div>
                <p routerLink="post.url" class="post-title">{{post.title}}</p>
                <span>Price: {{post.price}}</span>
                <p class="post-text" [innerHtml]="post.description"></p>
              </div>
              <div class="post-comment">
                <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                  <div class="form-group">                  
                    <textarea rows="1" cols="30" (input)="onTextAreaInput(textarea)" #textarea style="resize: none;" class="form-control" [formControlName]="'text'" placeholder="Enter your comment..."></textarea>
                  </div>
                  <button type="submit" class="commentButton">Comment</button>
                </form>
              </div>
              <div *ngFor="let comment of comments; let i = index">
                <div class="comment">
                    <img width="30px" height="30px" [src]="commentImages[i]" alt="">
                    <a routerLink="/user/{{comment.username}}">{{comment.username}}</a>
                    <a>{{comment.text}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
