<div class="container">
  <div class="image-container">
    <div class="postView">
      <p routerLink="post.url">{{post.title}}</p>
      <img [src]="productImage" alt="">    
      <span><b>Price</b>: {{post.price}} ₺</span>
      <p [innerHtml]="post.description"></p>
    </div>
  </div>
  <div class="comments-container">
    <div class="post-header">
      <img width="30px" height="30px" [src]="sellerImage" alt="">        
      <a class="username" routerLink="/user/{{post.username}}">{{post.username}}</a>
    </div>
    <hr />
    <div class="comments-inner">
      <div class="comment" *ngFor="let comment of comments">
        <div class="user-container">
          <img [src]="comment.url" alt="">
          <a class="commentUsername" routerLink="/user/{{comment.username}}">{{comment.username}}</a>
          <a class="commentText">{{comment.text}}</a>
        </div>       
      </div>     
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="postComment()">
      <div class="add-comment-container">                
        <!-- <mat-icon (click)="like(post)" >thumb_up_alt</mat-icon> <span class="aligned-with-icon">{{post.likesCount != null ? post.likesCount : 0}}</span>
        <mat-icon (click)="goToPost(post.id)">comment</mat-icon> <span class="aligned-with-icon">{{post.commentCount != null ? post.commentCount : 0}}</span>  
        <mat-icon (click)="save(post)">bookmark</mat-icon>  <span class="aligned-with-icon">{{post.savedCount != null ? post.savedCount : 0}}</span>     -->
        <textarea rows="1" cols="30" (input)="onTextAreaInput(textarea)" #textarea style="resize: none;" class="add-coment" [formControlName]="'text'" placeholder="Enter your comment..."></textarea>
        <button type="submit" class="commentButton">Comment</button>
      </div>
    </form>
  </div>
</div>