<div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <div class="row post">
          <div class="col-md-11">
            <span>
              <span class="back"><a class="post-url" href="" routerLink="/home">{{post.title}}</a></span>
              <span> . Seller:              
                <a class="username" routerLink="/user/{{post.username}}">{{post.username}}</a>
              </span>
            </span>
            <hr />
            <a routerLink="post.url" class="post-title">{{post.title}}</a>
            <div>
              <p class="post-text" [innerHtml]="post.description"></p>
            </div>
            <div>
              <span>Price: {{post.price}}</span>
            </div>
            <div class="post-comment">
              <form [formGroup]="commentForm" (ngSubmit)="postComment()">
                <div class="form-group">
                  <textarea class="form-control" [formControlName]="'text'" placeholder="Your thoughts?"></textarea>
                </div>
                <button type="submit" class="login float-right">Comment</button>
              </form>
            </div>
            <div *ngFor="let comment of comments">
              <div class="comment">
                <div class="username">
                  <a routerLink="/user/{{comment.username}}">{{comment.username}}</a>
                </div>
                <b>{{comment.text}}</b>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>