<body>
  <div class="container">
    <h1>Register</h1>
    <div class="form-group">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="credentials">
          <input  type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" placeholder="Email Address">
          <span class="empty-form" *ngIf="!signupForm.get('email')?.valid && signupForm.get('email')?.touched">Please enter a valid email!</span>
          <br>
          <input type="text" [formControlName]="'username'" class="form-control" placeholder="Username">
          <span class="empty-form" *ngIf="!signupForm.get('username')?.valid && signupForm.get('username')?.touched">Please enter a valid username!</span>
          <br>
          <input type="text" [formControlName]="'fullname'" class="form-control" placeholder="Full Name">
          <span class="empty-form" *ngIf="!signupForm.get('fullname')?.valid && signupForm.get('fullname')?.touched">Please enter a valid fullname!</span>
          <br>
          <input type="password" id="password" class="form-control" [formControlName]="'password'" name="password" required placeholder="Password">
          <span class="empty-form" *ngIf="!signupForm.get('password')?.valid && signupForm.get('password')?.touched">Please enter a valid password!</span>
          <br>
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>
