<img class="logo" src="assets/pngwing.com (1).png" alt="logo-image" />
<nav>
  <ul>
    <li routerLink="/home" routerLinkActive="routerLinkActive"><mat-icon>home</mat-icon></li>
    <li routerLink="/for-you" routerLinkActive="routerLinkActive">For You</li>
    <li routerLink="/my-profile" routerLinkActive="routerLinkActive"><mat-icon>person</mat-icon></li>
    <li routerLink="/notifications" routerLinkActive="routerLinkActive"><mat-icon>notifications</mat-icon></li>
    <li routerLink="/wishlist" routerLinkActive="routerLinkActive"><mat-icon>favorite</mat-icon> </li>
    <li routerLink="/chats" routerLinkActive="routerLinkActive"><mat-icon>chat</mat-icon> </li>
  </ul>
</nav>
